body {
  font-family: Calibri;
  font-size: 110%;
  background-color: #383A59;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #302c34;
  color: white;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 25%;
}
.search-bar {
  display: block;
  font-size: 17px;
  border: none;
  cursor: pointer; 
  background-color: #383A59;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 20px;
}
